In [32]:
s="jupiter"
s1="cs4"
print(s.isalpha())
print(s1.isalpha())
print(s.islower())
print(s1.islower())
print(s.lower())
print(s1.lower())
print(s.isupper())
print(s1.isupper())
print(s.upper())
print(s1.upper())
print(s.isnumeric())
print(s1.isnumeric())
print(s.swapcase())
print(s1.swapcase())
print(s.isspace())
print(s1.isspace())
print(s.title())
print(s1.title())
print(s.istitle())
print(s1.istitle())

True
False
True
True
jupiter
cs4
False
False
JUPITER
CS4
False
False
JUPITER
CS4
False
False
Jupiter
Cs4
False
False

In [20]:
print("+".join(["jupiter"" mars"" earth"]))

jupiter mars earth

In [24]:
s="python programming is easy to learn"
lst=s.split()
print(lst)
print(lst.index("is"))

['python', 'programming', 'is', 'easy', 'to', 'learn']
2

In [21]:
s="python programming is easy to learn"
lst=list(s)
print(lst)

['p', 'y', 't', 'h', 'o', 'n', ' ', 'p', 'r', 'o', 'g', 'r', 'a', 'm', 'm', 'i', 'n', 'g', ' ', 'i', 's', ' ', 'e', 'a', 's', 'y', ' ', 't', 'o', ' ', 'l', 'e', 'a', 'r', 'n']

In [43]:
s="mohit is good"
print(s)
s.replace("good","best")

mohit is good

'mohit is best'

In [46]:
t=("Python","Programming",1969,1999,"Machine learning")
print(t)
del t
print.(t)

SyntaxError: invalid syntax (<ipython-input-46-e24a1f598f9b>, line 4)

In [49]:
t=("Python","Programming",1969,1999,"Machine learning")
for i in range(len(t)):
    print(t[i],end="=>")

Python=>Programming=>1969=>1999=>Machine learning=>

In [52]:
t1=("roshan","sate","sreekar","mohit","churi","sandeep")

for i in range(len(t1)):
    print(t1[i],end="=>")
t2=("roshan","sate","sreekar","mohit","churi","sandeep")
t3=t1+t2
print(t3)
print(len(t3))

roshan=>sate=>sreekar=>mohit=>churi=>sandeep=>('roshan', 'sate', 'sreekar', 'mohit', 'churi', 'sandeep', 'roshan', 'sate', 'sreekar', 'mohit', 'churi', 'sandeep')
12

In [53]:
t1=(1,2,3,4,5,6,7)
max(t1)

7

In [59]:
t6=("roshan","sate","sreekar","mohit","churi","sandeep","a")
max(t6)

'sreekar'

In [57]:
l=["roshan","sate","sreekar","mohit","churi","sandeep","a"]
t1=tuple(l)
print(t1)

('roshan', 'sate', 'sreekar', 'mohit', 'churi', 'sandeep', 'a')

In [66]:
user1={'NAME':'Mohit','AGE':'20','EMAIL-ID':'mohithreddy.vatti@gmail.com','MOBILE-NUMBER':'7729818289'}
print("NAME=",user1['NAME'])
print("EMAIL-ID=",user1['EMAIL-ID'])
print("AGE=",user1['AGE'])
print("MOBILE-NUMBER=",user1['MOBILE-NUMBER'])

NAME= Mohit
EMAIL-ID= mohithreddy.vatti@gmail.com
AGE= 20
MOBILE-NUMBER= 7729818289

In [74]:
print("USER 1")
print(" ")
user1={'NAME':'Roshan','AGE':'20','EMAIL-ID':'mohithreddy.vatti@gmail.com','MOBILE-NUMBER':'7729818289'}
user1['NAME']='Mohit'
user2={'NAME':'Roshan','AGE':'18','EMAIL-ID':'roshan13341@gmail.com','MOBILE-NUMBER':'9999999999'}
print("NAME=",user1['NAME'])
print("EMAIL-ID=",user1['EMAIL-ID'])
print("AGE=",user1['AGE'])
print("MOBILE-NUMBER=",user1['MOBILE-NUMBER'])
print(" ")
print("USER2")
print(" ")
print("NAME=",user2['NAME'])
print("EMAIL-ID=",user2['EMAIL-ID'])
print("AGE=",user2['AGE'])
print("MOBILE-NUMBER=",user2['MOBILE-NUMBER'])
len(user2)

USER 1

NAME= Mohit
EMAIL-ID= mohithreddy.vatti@gmail.com
AGE= 20
MOBILE-NUMBER= 7729818289

USER2

NAME= Roshan
EMAIL-ID= roshan13341@gmail.com
AGE= 18
MOBILE-NUMBER= 9999999999

4

In [83]:
user1={'NAME':'Roshan','AGE':'20','EMAIL-ID':'mohithreddy.vatti@gmail.com','MOBILE-NUMBER':'7729818289'}
user1['NAME']='Mohit'
user2={'NAME':'Roshan','AGE':'18','EMAIL-ID':'roshan13341@gmail.com','MOBILE-NUMBER':'9999999999'}
print("NAME=",user1['NAME'])
print("EMAIL-ID=",user1['EMAIL-ID'])
print("AGE=",user1['AGE'])
print("MOBILE-NUMBER=",user1['MOBILE-NUMBER'])
user1['ADDRESS']='Gachibowli'
user2=user1.copy()
print(user1)
print(user2)

NAME= Mohit
EMAIL-ID= mohithreddy.vatti@gmail.com
AGE= 20
MOBILE-NUMBER= 7729818289
{'NAME': 'Mohit', 'AGE': '20', 'EMAIL-ID': 'mohithreddy.vatti@gmail.com', 'MOBILE-NUMBER': '7729818289', 'ADDRESS': 'Gachibowli'}
{'NAME': 'Mohit', 'AGE': '20', 'EMAIL-ID': 'mohithreddy.vatti@gmail.com', 'MOBILE-NUMBER': '7729818289', 'ADDRESS': 'Gachibowli'}

In [80]:
user1={'NAME':'Roshan','AGE':'20','EMAIL-ID':'mohithreddy.vatti@gmail.com','MOBILE-NUMBER':'7729818289'}
user1.items()

dict_items([('NAME', 'Roshan'), ('AGE', '20'), ('EMAIL-ID', 'mohithreddy.vatti@gmail.com'), ('MOBILE-NUMBER', '7729818289')])

In [81]:
user1={'NAME':'Roshan','AGE':'20','EMAIL-ID':'mohithreddy.vatti@gmail.com','MOBILE-NUMBER':'7729818289'}
user1.values()

dict_values(['Roshan', '20', 'mohithreddy.vatti@gmail.com', '7729818289'])

In [87]:
user1={'NAME':'Roshan','AGE':'20','EMAIL-ID':'mohithreddy.vatti@gmail.com','MOBILE-NUMBER':'7729818289'}
lst=list(user1)
print(lst[0])
print("{0}".format(lst[0]))

NAME
NAME

In [112]:
contacts={}
def addcontact(name,phone):
    if name.upper() and name.lower() not in contacts:
        contacts[name]=phone
        print("contact %s added"% name)
    else:
        print("contact %s already exists"% name)
    return
addcontact("mohit",9898989898)
addcontact("roshan",9797979797)
addcontact("sreekar",9696969696)
addcontact("mohit",9898989898)
def searchcontact(name):
    if name.upper() and name.lower() in contacts:
        print(name,":" , contacts[name])
    else:
        print("%s doesnt exists"% name)
    return
searchcontact("mohit")
searchcontact("roshan")
searchcontact("sreekar")
searchcontact("surya")
print(contacts,end=" ")
print(" ")
print(" ")
def importcontacts(newcontact):
    contacts.update(newcontact)
    print(len(newcontact.keys()),"contacts added succesfully")
    return
newcontact={'me':959595959595,'mine':949494949494}
importcontacts(newcontact)
print(contacts,end=" ")
print(" ")
print(" ")
def deletecontact(name):
    if name.upper() and name.lower() in contacts:
        del contacts[name]
        print(name, "is deleted from the contacts")
    else:
        print(name, "doesnt exsits in the contacts")
    return
deletecontact("me")
deletecontact("mine")
print(contacts,end=" ")

contact mohit added
contact roshan added
contact sreekar added
contact mohit already exists
mohit : 9898989898
roshan : 9797979797
sreekar : 9696969696
surya doesnt exists
{'mohit': 9898989898, 'roshan': 9797979797, 'sreekar': 9696969696}

2 contacts added succesfully
{'mohit': 9898989898, 'roshan': 9797979797, 'sreekar': 9696969696, 'me': 959595959595, 'mine': 949494949494}

me is deleted from the contacts
mine is deleted from the contacts
{'mohit': 9898989898, 'roshan': 9797979797, 'sreekar': 9696969696}

In [114]:
lst=[1,2,3,4]
print("value at : {0} value at : {1}".format(lst[0],lst[1]))
print("value at : {0} value at : {1}".format(lst[2],lst[3]))

value at : 1 value at : 2
value at : 3 value at : 4

In [117]:
lst=[1,2,3,4]
print("%d %d %d %d "%(lst[0],lst[1],lst[2],lst[3]))

1 2 3 4

In [120]:
import math
math.factorial(5)

120